<!doctype html>
<html>
<head>
<%
  var title = 'title';
  var description = 'description';
  var url = '絶対パスでページURL記述';
%>
<% include ../../include/_head %>
<%# <!-- 追加css -->
<link rel="stylesheet" href="/css/sample.css">
<!-- / 追加css -->%>
</head>

<body>
<% include ../../include/_header %>

<div class="wrapper">
  <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
</div>

<% include ../../include/_footer %>
</body>
</html>
