<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>gulp temple</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="./css/common.css">
  <script src="js/load.js"></script>
</head>

  <body>

  </body>
</html>
