<!doctype html>
<html>
<head>
<%
  var title = 'title';
  var description = 'description';
  var url = '絶対パスでページURL記述';
%>
<% include ./include/_head %>
</head>

<body>
<% include ./include/_header %>

  <p class="fs12">12px<br>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  <p class="fs14">14px<br>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  <p class="fs16">16px<br>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  <p class="fs18">18px<br>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  <p class="fs20">20px<br>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  <%# <p class="fs24">24px<br>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>%>

<% include ./include/_footer %>
</body>
</html>
